.myPicker .md-picker-column{
    background-color: rgba(255,255,255,0) !important
}
.myPicker .md-picker-column{
    color: #fff !important;
}
.myPicker .md-picker-column-hook, .md-picker-column-list{
    font-family: PingFangSC-Medium !important;
}
.myTabBar .md-tab-bar-ink{
    background-color: #E10312 !important;
}
.myTabBar .md-tab-bar-item.is-active{
    color: #333 !important;
}
.myTabBar .md-tab-bar-item {
    color: #8E8E8E;
}
.myLoading   .md-activity-indicator-text{
    font-size: 50px !important;
    color: #fff !important;
}

.myPicker .md-picker-column-item .column-list .column-item.active{
    color: #fff !important;
}
.mySlider .is-higher{
    display: none;
}
.gapQuestion{
    position: relative;
    .lg{
        position: absolute;
        top: .49rem;
    }
}
