{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "stage-2"
    ],
    "plugins": [
        ["import", {
            "libraryName": "mand-mobile",
            "libraryDirectory": "lib"
        }]
    ],
    "env": {
        "test": {
            "presets": [
                "env",
                "stage-2"
            ]
        }
    }
}
