@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1572935412362'); /* IE9 */
  src: url('iconfont.eot?t=1572935412362#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABqgAAAKVAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBNIFBATYCJAMICwYABCAFhG0HMBvnBRHVkzNkX2NsjDwbI0S8rU314ZKEvkX+1oB/CA7kCmICJ2AGAAAAAIjga7+y3585RIUo1x9zPJGKUABkZMqjUCnPEsjF7+C5RfntWMDRApFEUWAHP2p7CX7b0SDNvivBUCJs0bYCCfAD6y7mkp+5N0HC6mEDzpLIFg3U3tys+qewEYolOQ/+l+9IxwJCfgWAT9w7/g0KA5nvvHKaY9GkLsA4kALaG6NAAi6QALxh7IIXeJ9ArR5TYmHaOCBk9rJAXAinjxKFkCyzbLVQ2bA3i0eo6uJ2sQAPo+/HH5FCUKhI7LqdU4snhN9lJy+NZawCi2k5B9ghEqaQiYPG1BYsGD2p5SUGkOXod7n8A4s46p8nKtmV9aALip5J7EkelbsAmeGUcGTSG5Dq67va3+T40u2J17te12jb4uNI9z2Ln+NsLometV19mryop9s4fdkXmr9cBHU5BujzZVmdXl4/BYHyqADK8Jj5RBKUMMhu4hGVKEwVGstiCAGUBwLSpd/5G3en33x1rzaDj5/xP5IM8wDVJ3UHP088sCsbUttcZE3cmCuUpJtqqFWLMsC+Vt+m6jruNBeqddyvp0p3hqTaEJGpU6hQp4RK1aZRa9Ly4TptLsIi12DCdYDQ7BUKjd4jafaByNSvqNDpHyo1B0atIyGdWWckqHCIUDIaUH8IeqnWtfIhrr6he2dJeWnEeCHtIQp905WzM1akJTbsHzcwW7C0FJjAY5jzAistETU3nnkd29Y2vajRSxEHEUpGA+oPQS/VBv35UPn8Dd07S+roqPO/kPYwOvRNN4CYVXVQx6M8s3/cwGzB0lJgAg7MTmqBtXlWRM2Nn5BYxxb1skNVzfaa8ncHoJatL8KZlnD6LasKQgAAAAA=') format('woff2'),
  url('iconfont.woff?t=1572935412362') format('woff'),
  url('iconfont.ttf?t=1572935412362') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1572935412362#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e61a";
}

